<?xml version="1.0"?>
<NcfsConfig>
	<FileSystem>
		<Setting>
			<NoCache>1</NoCache>
			<NoGui>1</NoGui>
			<Experiment>1</Experiment>
		</Setting>
		<Disk>
			<TotalDiskNumber>5</TotalDiskNumber>
			<DataDiskNumber>3</DataDiskNumber>
			<ChunkSize>8192</ChunkSize>
			<RaidType>6</RaidType>
			<DiskSetting>
				<Disk1>
					<DevName>/dev/loop1</DevName>
					<TotalSize>104857600</TotalSize>
					<FreeOffset>0</FreeOffset>
					<FreeSize>104857600</FreeSize>
				</Disk1>
				<Disk2>
					<DevName>/dev/loop2</DevName>
					<TotalSize>104857600</TotalSize>
					<FreeOffset>0</FreeOffset>
					<FreeSize>104857600</FreeSize>
				</Disk2>
				<Disk3>
					<DevName>/dev/loop3</DevName>
					<TotalSize>104857600</TotalSize>
					<FreeOffset>0</FreeOffset>
					<FreeSize>104857600</FreeSize>
				</Disk3>
				<Disk4>
					<DevName>/dev/loop4</DevName>
					<TotalSize>104857600</TotalSize>
					<FreeOffset>0</FreeOffset>
					<FreeSize>104857600</FreeSize>
				</Disk4>
				<Disk5>
					<DevName>/dev/loop5</DevName>
					<TotalSize>104857600</TotalSize>
					<FreeOffset>0</FreeOffset>
					<FreeSize>104857600</FreeSize>
				</Disk5>
<!-- 				<Disk6>
					<DevName>/dev/loop6</DevName>
					<TotalSize>104857600</TotalSize>
					<FreeOffset>0</FreeOffset>
					<FreeSize>104857600</FreeSize>
				</Disk6>
				<Disk7>
					<DevName>/dev/loop7</DevName>
					<TotalSize>104857600</TotalSize>
					<FreeOffset>0</FreeOffset>
					<FreeSize>104857600</FreeSize>
				</Disk7>
				<Disk8>
					<DevName>/dev/loop8</DevName>
					<TotalSize>104857600</TotalSize>
					<FreeOffset>0</FreeOffset>
					<FreeSize>104857600</FreeSize>
				</Disk8>
				<Disk9>
					<DevName>/dev/loop9</DevName>
					<TotalSize>104857600</TotalSize>
					<FreeOffset>0</FreeOffset>
					<FreeSize>104857600</FreeSize>
				</Disk9>
				<Disk10>
					<DevName>/dev/loop10</DevName>
					<TotalSize>104857600</TotalSize>
					<FreeOffset>0</FreeOffset>
					<FreeSize>104857600</FreeSize>
				</Disk10> -->
			</DiskSetting>
		</Disk>
	</FileSystem>
	<Cache>
		<ThreadPool>
			<NumOfThread>5</NumOfThread>
		</ThreadPool>
		<FileCache>
			<BufferSize>2097152</BufferSize>
			<NumOfBuffer>8</NumOfBuffer>
			<BlockSize>4096</BlockSize>
			<PageSize>262144</PageSize>
			<NumOfCache>10</NumOfCache>
		</FileCache>
		<FileInfoCache>
			<BufferSize>262144</BufferSize>
			<NumOfBuffer>4</NumOfBuffer>
			<BlockSize>8</BlockSize>
			<PageSize>524288</PageSize>
			<NumOfCache>20</NumOfCache>
		</FileInfoCache>
		<DiskCache>
			<BufferSize>1048576</BufferSize>
			<NumOfBuffer>4</NumOfBuffer>
			<BlockSize>4096</BlockSize>
			<PageSize>4096</PageSize>
		</DiskCache>
	</Cache>
</NcfsConfig>
